@import url(./assets/styles/header.css);
@import url(./assets/styles/home.css);
@import url(./assets/styles/about-me.css);
@import url(./assets/styles/my-services.css);
@import url(./assets/styles/contact.css);
@import url(./assets/styles/faq.css);

:root {
	--white: #ffffff;
	--blue: #64a1bc;
	--black: #2a3840;
	--background-color: #f9f6f2;
	--background-color-opacity: rgba(249, 246, 242, 0.85);
	--font: 'Cormorant Garamond', serif;
	--80px: 5rem;
	--70px: 4.375rem;
	--65px: 4.0625rem;
	--55px: 3.4375rem;
	--50px: 3.125rem;
	--35px: 2.1875rem;
	--30px: 1.875rem;
	--29px: 1.8125rem;
	--25px: 1.5625rem;
	--24px: 1.5rem;
	--22px: 1.375rem;
	--18px: 1.125rem;
	--8px: 0.5rem;
	--5-5px: 0.34375rem;
	--4-8px: 0.3rem;
	--3-6px: 0.225rem;
	--2px: 0.125rem;
}

html {
	font-size: 14px;
	overflow: hidden;
	width: 100vw;
	height: 100%;
}

body {
	background-color: var(--background-color);
	font-family: var(--font);
	width: 100vw;
	height: 100%;
	overflow: hidden;
}

.main {
	display: flex;
	align-items: flex-end;
	position: absolute;
	top: 0;
	height: 100vh;
	width: 500vw;
	transition: 1s;
}

.main--home {
	left: 0;
}

.main--about-me {
	left: -100vw;
}

.main--my-services {
	left: -200vw;
}

.main--contact {
	left: -300vw;
}

.main--faq {
	left: -400vw;
}

@media screen and (max-width: 1700) {
	html {
		font-size: 14px;
	}
}

@media screen and (max-width: 1500px) {
	html {
		font-size: 13px;
	}
}

@media screen and (max-width: 1400px) {
	html {
		font-size: 11.5px;
	}
}

@media screen and (max-width: 1300) {
	html {
		font-size: 10.5px;
	}
}

@media screen and (max-width: 1200px) {
	html {
		overflow: scroll;
		height: auto;
	}

	.main {
		flex-direction: column;
		height: 500vh;
		width: 100vw;
	}

	.main--about-me {
		left: 0vw;
	}

	.main--my-services {
		left: 0vw;
	}

	.main--contact {
		left: 0vw;
	}

	.main--faq {
		left: 0vw;
	}
}
