@import url(./styles/home.css);
@import url(./styles/about-me.css);

:root {
	--white: #ffffff;
	--blue: #64a1bc;
	--black: #2a3840;
	--background-color: #f9f6f2;
	--font: 'Cormorant Garamond', serif;
}

body {
	font-family: var(--font);
	font-weight: 400;
}

/* html,
body {
	max-width: 100vw;
	overflow: hidden;
} */
