.contact {
	background: url(../img/tree-picture.png) no-repeat center / cover;
	position: relative;
	width: 100vw;
	height: 85vh;
}

.contact__content {
	background-color: var(--background-color-opacity);
	text-align: left;
	position: absolute;
	width: 50%;
	left: 15%;
	padding: 2rem 3rem;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	gap: 3rem;
}

.contact__content p,
.contact__content address,
.contact__content span {
	color: var(--black);
	font-size: var(--25px);
	font-weight: 400;
	line-height: var(--30px);
}

.contact__content > h2 > em {
	font-size: var(--55px);
	font-style: italic;
	letter-spacing: var(--5-5px);
}

.contact h2 {
	color: var(--blue);
	font-size: var(--65px);
	font-weight: 700;
	line-height: var(--70px);
	text-transform: uppercase;
}

.contact__socials {
	border-bottom: 1px solid #cccccc;
	padding-bottom: 3.5rem;
	width: 100%;
	display: flex;
	gap: 3rem;
}

.contact__social,
.contact__social-secondary {
	border: var(--2px) solid var(--blue);
	border-radius: 50%;
	text-indent: -9999px;
}

.contact__social {
	background-size: 3rem;
	height: 4rem;
	width: 4rem;
}

.contact__social-secondary {
	height: 3rem;
	width: 3rem;
}

.contact__social--instagram,
.contact__social--instagram-secondary {
	background: url(../img/instagram.svg) no-repeat center var(--blue);
}

.contact__social--instagram {
	background-size: 3rem;
}

.contact__social--instagram-secondary {
	background-size: 2rem;
}

.contact__social--whatsapp {
	background: url('../img/whatsapp.svg') no-repeat center var(--blue);
	background-size: 2.5rem;
}

.contact__social--youtube {
	background: url('../img/youtube.svg') no-repeat center var(--blue);
	background-size: 3.3rem;
}

.contact__email {
	color: var(--black);
	transition: 0.3s;
}

.contact__email:hover {
	color: var(--blue);
}

.contact__instagram-secondary {
	display: flex;
	align-items: center;
	gap: 2rem;
}
