.faq {
	display: flex;
	height: 100vh;
	width: 100vw;
}

.faq::before {
	content: '';
	background: url('../img/faq-background.jpg') no-repeat center / cover;
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: -1;
}

.faq__container {
	display: flex;
	flex-direction: column;
	margin-top: 15vh;
	padding: 0 1.5rem 0 3rem;
	height: 85%;
	width: 50%;
}

.faq details {
	transition: 1s;
}

.faq details > summary {
	color: var(--white);
	border-bottom: 1px solid var(--white);
	cursor: pointer;
	list-style: none;
	font-size: var(--30px);
	font-weight: 700;
	line-height: var(--35px);
	padding: 2rem 0;
	text-align: left;
}

.faq details:last-child > summary {
	border-bottom: none;
}

.faq details > summary::before {
	content: '';
	background: url('../img/plus.svg') no-repeat center / contain;
	display: inline-block;
	padding-right: 3rem;
	height: 1.5rem;
	width: 1.5rem;
}

.faq details[open] > p {
	border-bottom: 1px solid var(--white);
	padding: 0 2rem 2rem;
}

.faq details:last-child[open] > p {
	border-bottom: none;
}

.faq details[open] > summary {
	border-bottom: none;
}

.faq details[open] > summary::before {
	content: '';
	background: url('../img/triangle.svg') no-repeat center / contain;
	display: inline-block;
	padding-right: 3rem;
	height: 1.3rem;
	width: 1.3rem;
}

.faq details > p {
	color: var(--white);
	font-size: var(--25px);
	font-weight: 400;
	line-height: var(--30px);
	text-align: left;
}
