.header {
	background-color: transparent;
	position: absolute;
	top: -15vh;
	left: 0;
	height: 15vh;
	width: 100vw;
	display: flex;
	align-items: center;
	gap: 8rem;
	transition: 1s;
	z-index: 1;
}

.header--down {
	top: 0;
}

.header__list {
	display: flex;
	gap: 4rem;
}

.header__list-button {
	background-color: transparent;
	border: none;
	border-bottom-color: var(--black);
	color: var(--black);
	cursor: pointer;
	font-family: var(--font);
	font-size: var(--24px);
	font-weight: 700;
	letter-spacing: var(--4-8px);
	line-height: var(--29px);
	padding: 0;
	text-decoration: none;
	text-transform: uppercase;
	transition: 1s;
}

.header__list-button--light {
	color: var(--white);
	border-bottom-color: var(--white);
}

.header__logo {
	cursor: pointer;
	margin-left: 8rem;
	width: 20rem;
}

.header__logo--inactive {
	display: none;
}

.active {
	border-bottom: 1px solid;
}

@media screen and (max-width: 1200px) {
	.header {
		display: none;
	}
}
