.home {
	background-image: url('../img/background-gradient.png');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
	height: 100vh;
	width: 100vw;
	padding: auto 3rem;
}

.home__video {
	min-height: 100vh;
	min-width: 100vw;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

.home__title,
.home__subtitle {
	color: var(--white);
}

.home__italic-title {
	font-size: var(--80px);
	font-style: italic;
	font-weight: 700;
	letter-spacing: var(--8px);
	text-transform: uppercase;
}

.home__title {
	font-size: var(--70px);
	font-weight: 700;
	text-align: center;
}

.home__subtitle {
	font-size: 30px;
	text-align: center;
	width: 45%;
}

.home__logo {
	width: 25%;
}

.home__tagline {
	width: 18%;
}

.home__roll-down-button,
.home__video-button {
	background-color: transparent;
	color: var(--white);
	font-family: var(--font);
}

.home__video-button {
	border: var(--2px) solid var(--white);
	cursor: pointer;
	font-size: var(--18px);
	font-weight: 700;
	letter-spacing: var(--3-6px);
	padding: 1.3em;
	text-align: center;
	text-transform: uppercase;
}

.home__rolldown-button {
	align-self: flex-end;
	border: none;
	border-bottom: var(--2px) solid var(--white);
	cursor: pointer;
	font-size: var(--24px);
	margin-bottom: 2.5em;
	margin-right: 4em;
	padding: 0;
	padding-bottom: 0.3em;
	text-align: left;
}

.home__roll-down-button::after {
	content: url('../img/down-arrow.svg');
	display: inline-block;
	margin-left: 0.5rem;
	width: 1rem;
}
