.my-services {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 6rem;
	justify-content: center;
	position: relative;
	height: 85vh;
	width: 100vw;
}

.my-services::before {
	content: '';
	background: url('../img/background-gradient.png') no-repeat;
	position: absolute;
	top: -15vh;
	height: 100vh;
	width: 100vw;
	z-index: -1;
}

.my-services__background-video {
	object-fit: cover;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: -15vh;
	z-index: -2;
}

.my-services__video-button {
	background-color: transparent;
	border: var(--2px) solid var(--white);
	color: var(--white);
	cursor: pointer;
	font-family: var(--font);
	font-size: var(--18px);
	font-weight: 700;
	letter-spacing: var(--3-6px);
	line-height: var(--22px);
	text-transform: uppercase;
	height: 5rem;
	width: 20rem;
	transition: 0.5s;
}

.my-services__video-button:hover {
	background-color: var(--white);
	color: var(--black);
}

.my-services__video-container {
	visibility: hidden;
	position: absolute;
	top: -15vh;
	left: 0;
	height: 100vh;
	width: 100vw;
	backdrop-filter: blur(0.2rem) brightness(60%);
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}

.my-services__video-container--active {
	visibility: visible;
	opacity: 1;
	transition: 1s;
}

.my-services__content-container {
	color: var(--white);
	display: flex;
	gap: 5rem;
	justify-content: center;
	text-align: center;
}

.my-services__content {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
	width: 29%;
}

.my-services__content h2 {
	font-size: var(--50px);
	font-weight: 700;
	line-height: var(--50px);
}

.my-services__content p {
	font-size: var(--25px);
	line-height: var(--30px);
}

.my-services__image-architecture {
	background: url('../img/architecture.svg') no-repeat center;
	height: var(--100px);
	width: var(--100px);
}

.my-services__image-feng-shui {
	background: url('../img/balance.svg') no-repeat center;
	height: var(--100px);
	width: var(--100px);
}
