.home {
	background-image: url('../img/background-gradient.png');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100vh;
	width: 100vw;
	left: 0vw;
}

.main-title,
.main-subtitle {
	color: var(--white);
}

.strong-title {
	font-size: var(--80px);
	letter-spacing: var(--8px);
	text-transform: uppercase;
	font-weight: bold;
	font-style: italic;
}

.main-title {
	font-size: var(--70px);
	font-weight: bold;
	width: 45%;
	text-align: center;
}

.main-subtitle {
	text-align: center;
	width: 45%;
	font-size: 30px;
}

.main-logo {
	width: 25%;
}

.tagline {
	width: 18%;
}

.rolldown-button,
.video-button {
	background-color: transparent;
	font-family: var(--font);
	color: var(--white);
}

.video-button {
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: var(--18px);
	letter-spacing: var(--3-6px);
	border: var(--2px) solid var(--white);
	padding: 1.3em;
}

.rolldown-button {
	text-align: left;
	font-size: var(--24px);
	border: none;
	padding: 0;
	border-bottom: var(--2px) solid var(--white);
	align-self: flex-end;
	margin-right: 4em;
	margin-bottom: 2.5em;
	padding-bottom: 0.3em;
}

.down-arrow {
	width: 0.7em;
	height: 0.9em;
	display: inline-block;
	margin-left: 0.1em;
	vertical-align: bottom;
}
